body {
    margin: 0px;
    background-color: 	#79553D;
}
html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

 hr {
    color: 	#79553D;
    height: 20px;
    margin: 0px;
    border: 0;
 }

 .name {
    margin: 0px;
    color: #79553D;
    background-color: 	whitesmoke;
 }

 .tabl {
    padding-top: 10px;
    text-align: center;
    height:inherit;
    width:fit-content ;
    color: whitesmoke;
 }

a {
    color: whitesmoke;

}

.poyasn {
    color: whitesmoke;
    text-align: center;
    padding-top: 150px;
    font-size: 50px;
    margin: 0px;
    background-image: url("cute-baby-hedgehog-closeup-grass-with-black-background_488145-2951.jpg");
    background-size: cover;
    background-position:center;
    height: fit-content;
}

.end {
    margin: 0%;
    text-align: center;
    color: #79553D;
    background-color: whitesmoke;
    padding: 10px;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
}